<div class="marketing-page">
  <h2>This is the marketing summary page</h2>

  <div class="row">
    <div class="medium-4 columns">
      <label><h5>Average Age</h5> </label> {{vm.marketingSummary.AverageAgeOfResponders | number : 2}}
    </div>
    <div class="medium-4 columns">
      <label><h5>Average Experiance</h5> </label> {{vm.marketingSummary.AverageExperianceOfResponders | number : 2}}
    </div>
    <div class="medium-4 columns">
      <label><h5>Total Responders</h5></label> {{vm.marketingSummary.TotalNumberOfResults}}
    </div>
    <br/>
    <div class="medium-12 columns">
      <label><h5>Country Distribution</h5> </label>
      <div>
        <table>
          <thead>
            <tr>
              <th>Country</th>
              <th>Count</th>
              <th>Percentage</th>
            </tr>
          </thead>
            <tbody>
            <tr ng-repeat="dist in vm.marketingSummary.CountryDistribution | orderBy:'-Count'">
              <td>{{dist.Country || "Not Specified"}}</td>
              <td>{{dist.Count}}</td>
              <td>{{(dist.Count / vm.marketingSummary.TotalNumberOfResults) * 100 | number : 2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br/>
    </div>
    <div class="medium-12 columns">
      <label><h5>Gender Distribution</h5> </label>
      <div>
        <table>
          <thead>
            <tr>
              <th>Gender</th>
              <th>Count</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dist in vm.marketingSummary.GenderDistribution | orderBy:'-Count'">
              <td>{{vm.parseGender(dist.Gender)}}</td>
              <td>{{dist.Count}}</td>
              <td>{{(dist.Count / vm.marketingSummary.TotalNumberOfResults) * 100 | number : 2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>